CLIENT_GATEWAY_PORT=3000
ORDERS_MS_DATABASE_URL=

PRODUCTS_MS_PORT=3001
ORDERS_MS_PORT=3002
PAYMENTS_MS_PORT=3003
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL= http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel