[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/YodyReta/ms-client-gateway.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/YodyReta/ms-product-ms.git
